.container-menu {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 15px 0px;
  width: 100%;
  border-radius: 0px;
  z-index: 999;
  margin-bottom: 0px;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
}

.icone-menu {
  display: none;
}

.title-lezir {
  font-size: 1.3rem;
  font-weight: 600;
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

.menu-central {
  line-height: 26px;
  color: rgba(59, 57, 80, 0.7);
  font-size: 15px;
  font-weight: 600;
  transition: all 0.3s;
  background-color: transparent !important;
  padding: 6px 0;
  margin: 0 20px;
}



.menu-final {
  line-height: 26px;
  color: rgba(59, 57, 80, 0.7);
  font-size: 15px;
  font-weight: 600;
  transition: all 0.3s;
  background-color: transparent !important;
  padding: 6px 0;
  margin: 0 20px;
}

@media (max-width: 768px) {
  .three-lines {
    font-size: 1.5rem;
  }
  .container-menu {
    display: none;
  }
  .icone-menu {
    display: flex;
    font-weight: 300;
    font-size: 2rem;
    margin-top: -20%;
  }
}
