<mat-toolbar>
  <div class="container">

    <div id="icon-home">
      <mat-icon>bubble_chart</mat-icon>LEZIR
    </div>

    <section class="menu-central">
      <a mat-button [routerLink]="['home']">Home</a>
      <button mat-button>Features</button>
      <button mat-button>Pricing</button>
      <button mat-button>Blog</button>
      <button mat-button>Contact Us</button>
    </section>

    <section class="menu-end">
      <button mat-button>Log in</button>
      <button mat-button>Register</button>
    </section>

    <div class="mobile-menu">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>

  </div>
</mat-toolbar>












