<mat-toolbar>
  <div class="container">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>home</mat-icon>
    </button>
    <div class="lista1">
      <ul>
        <li>Home</li>
        <li>Features</li>
        <li>Princig</li>
        <li>Blog</li>
        <li>Contact us</li>
      </ul>
    </div>
    <div class="lista2">
      <ul>
        <li>Log in</li>
        <li>Register</li>
      </ul>
    </div>

  </div>
</mat-toolbar>
