
  <mat-grid-list cols="2" rowHeight="600px">
    <div class="flexbox">
    <mat-grid-tile>
      <div class="container-left">

        <h2 class="titulo">Creative Landing Page</h2>

        <p class="paragrafo">A creative & modern landing page with Lezir template & we love make </p>

        <p class="paragrafo02">🥳 Nemo enim ipsam voluptatem quia voluptas sit aspernatur is fugit.</p>

        <input>
        <button class="btn" mat-raised-button color="primary">Subscribe</button>

      </div>
    </mat-grid-tile>


    <mat-grid-tile>
      <div class="container-right">
        <img src="../../assets/hero-1-img.png" alt="imagem grid">
      </div>
    </mat-grid-tile>
  </div>
  </mat-grid-list>
