.lado-esquerdo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lado-esquerdo h2{
  font-size: 52px;
  text-shadow: 3px 3px 6px rgb(14 10 65 / 25%);
  color: #3b3950 !important;
  font-weight: 700!important;
  margin-bottom: 1.5rem!important;
  font-family: "Muli",sans-serif;
}


/* @media screen and (max-width: 768px) {
  img {
    width: 200px;
  }

} */

