<mat-grid-list cols="2.2" rowHeight="550px">

  <mat-grid-tile>
    <div class="flex-container">

      <h2 class="titulo">Creative Landing Page</h2>

      <p class="paragrafo">A creative & modern landing page with Lezir template & we love make </p>

      <p class="paragrafo02">🥳 Nemo enim ipsam voluptatem quia voluptas sit aspernatur is fugit.</p>
      <input><button class="btn" mat-raised-button color="primary">Subscribe</button>
      
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <img src="../../assets/img.png" alt="imagem grid">
  </mat-grid-tile>
</mat-grid-list>