<section class="footer" style="background-image: url(../../../assets/images/footer-bg.png)">
  <div class="container">
      <div class="row">
          <div class="col-lg-4">
              <div class="mb-5">
                  <img src="../../../assets/images/logo-light.png" alt="" class="" height="24">
                  <p class="text-white-50 my-4 font-size-15">Cras ultricies mi eu turpis sit hendrerit fringilla
                      vestibulum ante ipsum primis in faucibus ultrices posuere cubilia.</p>
                  <ul class="list-inline footer-social-icon-content">
                      <li class="list-inline-item me-4"><a href="#" class="footer-social-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg></a></li>
                      <li class="list-inline-item me-4"><a href="#" class="footer-social-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg></a></li>
                      <li class="list-inline-item me-4"><a href="#" class="footer-social-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg></a></li>
                      <li class="list-inline-item"><a href="#" class="footer-social-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg></a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-7 offset-lg-1">
              <div class="row">
                  <div class="col-md-4">
                      <h6 class="text-white text-uppercase mb-4">About Us</h6>
                      <ul class="list-unstyled footer-sub-menu">
                          <li><a href="#" class="footer-link">Works</a></li>
                          <li><a href="#" class="footer-link">Strategy</a></li>
                          <li><a href="#" class="footer-link">Releases</a></li>
                          <li><a href="#" class="footer-link">Press</a></li>
                          <li><a href="#" class="footer-link">Mission</a></li>
                      </ul>
                  </div>
                  <div class="col-md-4">
                      <h6 class="text-white text-uppercase mb-3">Customers</h6>
                      <ul class="list-unstyled footer-sub-menu">
                          <li><a href="#" class="footer-link">Tranding</a></li>
                          <li><a href="#" class="footer-link">Popular</a></li>
                          <li><a href="#" class="footer-link">Customers</a></li>
                          <li><a href="#" class="footer-link">Features</a></li>
                      </ul>
                  </div>
                  <div class="col-md-4">
                      <h6 class="text-white text-uppercase mb-3">Support</h6>
                      <ul class="list-unstyled footer-sub-menu">
                          <li><a href="#" class="footer-link">Developers</a></li>
                          <li><a href="#" class="footer-link">Support</a></li>
                          <li><a href="#" class="footer-link">Customer Service</a></li>
                          <li><a href="#" class="footer-link">Get Started</a></li>
                          <li><a href="#" class="footer-link">Guide</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>   

<div class="footer-alt py-3">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="text-center">
                  <p class="text-white-50 font-size-15 mb-0">
                      <script>document.write(new Date().getFullYear())</script>2022 © Lezir. Design By Themesbrand
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>



    
    <!-- <section class="footer" style="background-image: url(../../../assets/images/footer-bg.png)">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="mb-5">
              <img src="../../../assets/images/logo-light.png" alt="" class="" height="24">
              <p class="text-white-50 my-4 font-size-15">Cras ultricies mi eu turpis sit hendrerit fringilla
                vestibulum ante ipsum primis in faucibus ultrices posuere cubilia.</p>
              <ul class="list-inline footer-social-icon-content">
                <li class="list-inline-item me-4"><a href="#" class="footer-social-icon"><svg
                      xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-facebook">
                      <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                    </svg></a></li>
                <li class="list-inline-item me-4"><a href="#" class="footer-social-icon"><svg
                      xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-twitter">
                      <path
                        d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                      </path>
                    </svg></a></li>
                <li class="list-inline-item me-4"><a href="#" class="footer-social-icon"><svg
                      xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-instagram">
                      <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                      <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                      <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                    </svg></a></li>
                <li class="list-inline-item"><a href="#" class="footer-social-icon"><svg xmlns="http://www.w3.org/2000/svg"
                      width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin">
                      <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                      <rect x="2" y="9" width="4" height="12"></rect>
                      <circle cx="4" cy="4" r="2"></circle>
                    </svg></a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-7 offset-lg-1">
            <div class="row">
              <div class="col-md-4">
                <h6 class="text-white text-uppercase mb-4">About Us</h6>
                <ul class="list-unstyled footer-sub-menu">
                  <li><a href="#" class="footer-link">Works</a></li>
                  <li><a href="#" class="footer-link">Strategy</a></li>
                  <li><a href="#" class="footer-link">Releases</a></li>
                  <li><a href="#" class="footer-link">Press</a></li>
                  <li><a href="#" class="footer-link">Mission</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <h6 class="text-white text-uppercase mb-3">Customers</h6>
                <ul class="list-unstyled footer-sub-menu">
                  <li><a href="#" class="footer-link">Tranding</a></li>
                  <li><a href="#" class="footer-link">Popular</a></li>
                  <li><a href="#" class="footer-link">Customers</a></li>
                  <li><a href="#" class="footer-link">Features</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <h6 class="text-white text-uppercase mb-3">Support</h6>
                <ul class="list-unstyled footer-sub-menu">
                  <li><a href="#" class="footer-link">Developers</a></li>
                  <li><a href="#" class="footer-link">Support</a></li>
                  <li><a href="#" class="footer-link">Customer Service</a></li>
                  <li><a href="#" class="footer-link">Get Started</a></li>
                  <li><a href="#" class="footer-link">Guide</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="footer-alt py-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-center">
              <p class="text-white-50 font-size-15 mb-0">
                <script>document.write(new Date().getFullYear())</script>2022 © Lezir. Design By Themesbrand
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


 -->