* {
  font-family: 'Mulish', sans-serif;
font-family: 'Poppins', sans-serif;
}

element.style {
  outline: none;
}
.section {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.section {
  margin-top: 5%;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.justify-content-center {
  justify-content: center !important;
}

.text-center {
  text-align: center !important;
}

// images
.rounded {
  border-radius: 0.25rem !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.d-block {
  display: block !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

img,
svg {
  vertical-align: middle;
}
// UL

.font-size-15 {
  font-size: 15px;
}
.font-weight-medium {
  font-weight: 500;
}
.text-muted {
  color: #9e9cb9 !important;
}
.text-muted {
  color: #6c757d !important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
  padding-left: 2rem;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.text-dark {
  color: #3b3950 !important;
}

.text-dark {
  color: #212529 !important;
}
.fw-bold {
  font-weight: 700 !important;
}

.h5,
h5 {
  font-size: 1.25rem;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

a {
  text-decoration: none !important;
  outline: none;
}
a {
  color: #0d6efd;
  text-decoration: underline;
}

.font-size-15 {
  font-size: 15px;
}
.text-muted {
  color: #9e9cb9 !important;
}

.text-muted {
  color: #6c757d !important;
}
p {
  line-height: 1.8;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.font-weight-semibold {
  font-weight: 600;
}

.text-primary {
  color: #5a4fdc !important;
}

.text-primary {
  color: #0d6efd !important;
}

a {
  text-decoration: none !important;
  outline: none;
}

//title

.title {
  text-shadow: 1px 2px 3px rgb(59 57 80 / 20%);
}

.mb-3 {
  margin-bottom: 1rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
}

.h3,
h3 {
  font-size: calc(1.3rem + 0.6vw);
}

.h3,
h3 {
  font-size: 1.75rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.font-size-15 {
  font-size: 15px;
}
.text-muted {
  color: #9e9cb9 !important;
}

// Responsividade //

@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
}
@media (min-width: 992px) {
  .mb-lg-0 {
    margin-bottom: 0 !important;
  }
}
@media (min-width: 1200px) {
  .h3,
  h3 {
    font-size: 1.75rem;
  }
}
