<section class="section" id="blog">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-5">
          <h3 class="title mb-3">Latest News</h3>
          <p class="text-muted font-size-15">Et harum quidem rerum facilis est et expedita distinctio nam
            libero tempore cum soluta nobis eligendi cumque.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="blog-box mb-4 mb-lg-0">
          <img src="images/blog/img-1.jpg" alt="" class="img-fluid d-block mx-auto rounded">
          <ul class="list-inline text-muted text-uppercase font-size-15 font-weight-medium mt-3 mb-2">
            <li class="list-inline-item me-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" class="feather feather-calendar icon-size-15 icon me-1">
                <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                <line x1="16" y1="2" x2="16" y2="6"></line>
                <line x1="8" y1="2" x2="8" y2="6"></line>
                <line x1="3" y1="10" x2="21" y2="10"></line>
              </svg> April 10 2020</li>
            <li class="list-inline-item"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" class="feather feather-user icon-size-15 icon me-1">
                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </svg>
              Admin</li>
          </ul>
          <a href="#" class="text-dark fw-bold h5">Best Traveling Place</a>
          <p class="text-muted font-size-15">Integer ante arcu accumsan a consectetuer eget posuere mauris
            praesent adipiscing phasellus ullamcorper ipsum rutrum punc.</p>
          <a href="#" class="text-primary  font-weight-semibold">Learn More <span class="ms-2 right-icon">→</span></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="blog-box blog-box mb-4 mb-lg-0">
          <img src="images/blog/img-2.jpg" alt="" class="img-fluid d-block mx-auto rounded">
          <ul class="list-inline text-muted text-uppercase font-size-15 font-weight-medium mt-3 mb-2">
            <li class="list-inline-item me-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" class="feather feather-calendar icon-size-15 icon me-1">
                <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                <line x1="16" y1="2" x2="16" y2="6"></line>
                <line x1="8" y1="2" x2="8" y2="6"></line>
                <line x1="3" y1="10" x2="21" y2="10"></line>
              </svg> April 11 2020</li>
            <li class="list-inline-item"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" class="feather feather-user icon-size-15 icon me-1">
                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </svg>
              Admin</li>
          </ul>
          <a href="#" class="text-dark fw-bold h5">Private Meeting Room</a>
          <p class="text-muted font-size-15">Integer ante arcu accumsan a consectetuer eget posuere mauris
            praesent adipiscing phasellus ullamcorper ipsum rutrum punc.</p>
          <a href="#" class="text-primary   font-weight-semibold">Learn More <span class="ms-2 right-icon">→</span></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="blog-box blog-box mb-4 mb-lg-0">
          <img src="images/blog/img-3.jpg" alt="" class="img-fluid d-block mx-auto rounded">
          <ul class="list-inline text-muted text-uppercase font-size-15 font-weight-medium mt-3 mb-2">
            <li class="list-inline-item me-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" class="feather feather-calendar icon-size-15 icon me-1">
                <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                <line x1="16" y1="2" x2="16" y2="6"></line>
                <line x1="8" y1="2" x2="8" y2="6"></line>
                <line x1="3" y1="10" x2="21" y2="10"></line>
              </svg> April 12 2020</li>
            <li class="list-inline-item"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" class="feather feather-user icon-size-15 icon me-1">
                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </svg>
              Admin</li>
          </ul>
          <a href="#" class="text-dark fw-bold h5">The Best Business Ideas</a>
          <p class="text-muted font-size-15">Integer ante arcu accumsan a consectetuer eget posuere mauris
            praesent adipiscing phasellus ullamcorper ipsum rutrum punc.</p>
          <a href="#" class="text-primary  font-weight-semibold">Learn More <span class="ms-2 right-icon">→</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
