  <section class="hero-1-bg active" style="background-image: url(../../../assets/images/hero-1-bg-img.png)" id="home">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-6">
          <h1 class="hero-1-title text-dark fw-bold text-shadow mb-4">Creative Landing Page</h1>
          <div class="w-75 mb-5 mb-lg-0">
            <p class="text-muted mb-5 pb-5 font-size-17">A creative &amp; modern landing page with Lezir
              template &amp; We love make things amazing</p>
            <p class=""><span class="font-size-20 me-2">🥳️</span>Nemo enim ipsam voluptatem quia voluptas
              sit aspernatur that is fugit.</p>
            <div class="subscribe-form">
              <form action="#">
                <input type="text" placeholder="Enter  email...">
                <button type="submit" class="btn btn-primary">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-10">
          <div class=" mt-5 mt-lg-0">
            <img src="../../../assets/images/hero-1-img.png" alt="img-fluid d-block mx-auto">
          </div>
        </div>
      </div>
    </div>
  </section>



  <br><br><br><br><br><br><br><br><br><br>



  <section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="mb-4 mb-lg-0">
                    <h3 class=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Porque escolher-nos ?</font></font></h3>
                    <p class="text-muted mb-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nam libero tempore cum soluta as nobis est eligendi optio cumque nihile impedite quo minus id quod maxime.</font></font></p>
                    <a href="#" class="btn btn-outline-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Saber mais</font></font></a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="wc-box rounded text-center wc-box-primary p-4 mt-md-5">
                            <div class="wc-box-icon">
                                <i class="mdi mdi-collage"></i>
                            </div>
                            <h5 class="fw-bold mb-2 wc-title mt-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fácil de usar</font></font></h5>
                            <p class="text-muted mb-0 font-size-15 wc-subtitle"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</font></font></p>
                        </div>
                        <div class="wc-box rounded text-center wc-box-primary p-4">
                            <div class="wc-box-icon">
                                <i class="mdi mdi-trending-up"></i>
                            </div>
                            <h5 class="fw-bold mb-2 wc-title mt-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Aumente sua receita</font></font></h5>
                            <p class="text-muted mb-0 font-size-15 wc-subtitle"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</font></font></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="wc-box rounded text-center wc-box-primary p-4">
                            <div class="wc-box-icon">
                                <i class="mdi mdi-security"></i>
                            </div>
                            <h5 class="fw-bold mb-2 wc-title mt-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Segurança analítica</font></font></h5>
                            <p class="text-muted mb-0 font-size-15 wc-subtitle"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</font></font></p>
                        </div>
                        <div class="wc-box rounded text-center wc-box-primary p-4">
                            <div class="wc-box-icon">
                                <i class="mdi mdi-database-lock"></i>
                            </div>
                            <h5 class="fw-bold mb-2 wc-title mt-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dados privados</font></font></h5>
                            <p class="text-muted mb-0 font-size-15 wc-subtitle"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</font></font></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br>
<br>
<br>


<!--
<div class="p-2 bg-soft-primary d-inline-block rounded mb-4">
  <div class="icon-xxl uim-icon-primary"><span class="uim-svg" style=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em"><polygon class="uim-primary" points="12 12.3 3.5 7.05 12 1.8 20.5 7.05 12 12.3"></polygon><polygon class="uim-quaternary" points="12 22.2 12 12.3 20.5 7.05 20.5 16.95 12 22.2"></polygon><polygon class="uim-tertiary" points="12 22.2 3.5 16.95 3.5 7.05 12 12.3 12 22.2"></polygon></svg></span></div>
</div>
-->
