<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <div class="container">

    <section class="Grid">
      <h2 class="titulo">Why Choose Us ?</h2>
      <p class="paragrafo-footer">
        Nam libera tempore cum soluta as nobis est <br>
        eligendi cuooternque nhile impedite quo <br>
         minus id maxime.
      </p>
        <button mat-button>Learn More</button>
      </section>

    <section class="Grid02">
      <h2 class="titulo02">Esay To Use</h2>
      <p class="paragrafo02">
        sed ut perspiciatis und omnis iste natue <br>
         error sit volup tatem.
      </p>
      <hr>
    </section>
  </div>
  </mat-grid-tile>
</mat-grid-list>

